*{
    background-color: skyblue;
}

.kuchbhi{
    background:red;
}

#mes{
    background-color: yellow;
}
h1{
    background-color: darkgoldenrod; color: wheat;
}
#leo{
    background-color: coral;  color: chartreuse;
}