@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
#header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    
}

*{
    margin: 0px;
    padding: 0px;

}



#section-top{
      height: 700px;
      border: 1px solid green;
      background:  #3b5a4f;
}

#sub-header{
    font-size: xxx-large;
    margin-top: 10px;
    font-weight: 200;
    margin-left: 150px;
    color: white;
} 

#sub-header-2{
    display: flex;
    font-size: larger;
    gap: 50px;
    margin-top: 30px;
    margin-right: 150px;
    color: white;
    #sub-header{
    font-size: xxx-large;
    margin-top: 10px;
    font-weight: 800;
    margin-left: 150px;
  } 
}

#Modern{
    margin-top: 150px;
    margin-left: 120px;
    
}
.Modern{
    font-size: 70px;
    font-weight: 500;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 60px;
   
}

#Donec{
    margin-top: 49px;
}
.Donec{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 15px;
     font-weight: 100;
    margin-top: 10px;
    color: rgb(176, 203, 157);
    font-weight: 300;
    

}

.buttons{
    margin-top: 20px;
}

.button{
    border: 1px solid yellow;
    height: 55px;
    width: 155px;
    border-radius: 40px;
    background:goldenrod;
    font-size: 20px;
    color: white;
}

#header-big{

    display: flex;
   
}

.sofaa-div{
    margin-top: 50px;
    margin-left: 100px;
   
}

#sofaa-img{
    position: relative;
    height: 600px;
    width: 980px;
    box-shadow:1000px;
    z-index: 2;
}

.table1{
  
  
    color: rgb(123, 151, 128);
    height: 20px;
    width: 300px;

    
    
}

.table1{
    position: absolute;
    top: 100px;
    right: 2px;
    z-index: 1;

    td{
        font-size: 60px;
        font-weight: 1000;
        font-family: 'Courier New', Courier, monospace;
        
    }
}

.main-div{
    background-color: whitesmoke;
    border: 2px solid rgb(65, 150, 65);
    height: 750px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.sub-main-div1-1{
    font-size: 39px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: 100;
    
    
}

.sub-main-div1-2{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 16px;
      color: rgb(123, 110, 110);
      font-weight: -3px;
      margin-top: 35px;
      line-height: 26px;
}

.div1{
    margin-top: 180px;
    margin-left: 120px;
}

.button3{

    margin-top: 40px;
    border: 1px solid black;
    height: 55px;
    width: 155px;
    border-radius: 40px;
    background:black;
    font-size: 20px;
    color: white;

}

.chair{
    margin-top: 170px;
    text-align: center;
}

.chairprice{
    margin-top: 40px;
    font-size: 20px;
    font-weight:bolder;
}

.Why-Choose{
    display: grid;
    /* grid-template-columns:   ; */
}


.main3{

    background-color: whitesmoke;
    border: 3px solid black;
    height: 750px;
    display: grid;
    grid-template-columns: auto auto;

}


.main3-button{


    border: 1px solid yellow;
    height: 55px;
    width: 135px;
    border-radius: 40px;
    background:black;
    font-size: 20px;
    color: white;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
.main3-div1{
   margin-top: 50px;
   margin-left: 100px;
}
.main-3h1{
    font-size: 40px;
    font-weight: 300;

}

.Donec{
    color: gray;
    margin-top: 30px;
    font-size: 15px;
}


.main3-div4{
    display: grid;
    grid-template-columns: auto auto;

}

.vitae-odio{
    color: grey;
}

.four{
      margin-top: 30px;

}



#why-choose{

    position: relative;
    
  width: 550px;
  height: 630px;
  border-radius: 30px;
  margin-top: 40px;
  margin-left: 200px;
  z-index: 2;
}



#yellow-dots{

    position: absolute;
    top: 1420px;
    right: 500px;
    z-index: 1;
    color: rgb(253, 182, 2);

    height: 200px;
    width: 300px;
    /* border: 2px solid black; */
   
    .yellow-dots{
         font-family: 'Courier New', Courier, monospace;
         font-size: 60px;
    }
    


}



#main-div-4{
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid purple;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

     p{
        color: gray;
     }
     .We-help{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}

}


#list-donec{
    display: grid;
    grid-template-columns: auto auto;
    color: grey;
}

.div-top-m{
    margin-top: 30px;
    font-size: 18px;
}

.main-div-4-left{
    margin-left: 20px;
    margin-top: 200px;
}


#green-gray-dots{

    
    position: absolute;
    height: 300px;
    
    z-index: 1;
    color: rgb(106, 102, 132);

   
   

   
    .green-gray-dots{
        
         font-family: 'Courier New', Courier, monospace;
         font-size: 50px;
         
         
    }
    
}

.main4img{
    height: 520px;
    width: 470px;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    margin-left: 100px;
    margin-top: 80px;
}



.main4img-2{

    height: 400px;
    width: 320px;
    border-radius: 20px;
    z-index: 3;
    position: relative;
    margin-left: 430px;
    margin-top: -250px;

}


.main4img-3{
    height: 200px;
    width: 180px;
    border-radius: 20px;
    z-index: 4;
    position: relative;
    margin-left: 580px;
    margin-top: -900px;
    margin-bottom: 440px;

}



.button4{
    border: 1px solid rgb(0, 0, 0);
    height: 55px;
    width: 155px;
    border-radius: 40px;
    background:black;
    font-size: 20px;
    color: white;
    margin-top: 40px;
}


#main-5{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}


.main-5{
    display: grid;
    grid-template-columns: auto auto;
    /* border: 2px solid black; */
    height: 150px;
    width: 490px;
}

.main5img{
    height: 150px;
    width: 150px;
    background: rgb(233, 226, 226);
    border-radius: 20px;
}

.chair-ty{
    /* margin-left: -160px; */
    margin-top: 15px;
    font-size: 17px;
    margin-left: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    p{
        color: grey;
        font-weight: 100;
    } 
    .ph{
        color: black;
    }
    button{
        margin-top: -3px;
        border: 0px solid white;
        background-color: white;
        font-size: 17px;
    }
}


#main6{
    border: 2px solid maroon;
    height: 800px;

   




    .div-main6{
        margin-top: 100px;
        text-align: center;
        

        .Testimonials{
            font-size: 40px;
             font-weight: 100;
              font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        }

        .Donec-facilisis{
            margin-top: 50px ;
            font-size: 20px;
            color: grey;
           font-weight:400;

           font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           
        }

        .img-main6{
            
            margin-top: 60px;
            height: 100px;
            width: 100px;
            border-radius: 150px;
           
        }

        .Maria-Jones{
            font-size: 20px;
            
        }

        p1{
            color: grey;
            font-size: 17px;
        }

        .left-aerro,.right-aerro {
            height: 70px;
            width: 70px;
            background-color: rgba(202, 182, 182, 0.445);
            border-radius: 150px;
            font-size: 30px;
             font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
           
           
        }

        .left-aerro{
        margin-top: -200px;
        margin-left:100px;
    }

    .right-aerro{
        margin-top: -75px;
        margin-left:1470px;
    }
    }

    
}


    #main7{
         
        height: 750px;

        .main7-sub1{

            display: grid;
            grid-template-columns: auto auto;
            margin-top: 50px;
            margin-left: 120px;

            

        }

        .recent{
                font-size: 40px;
                 font-family: "Google Sans", "Arial", sans-serif;
                font-weight: 200;
        
            
        }
       
        .View-All-Posts{
            
          margin-left: 300px;   
           font-family: "Google Sans", "Arial", sans-serif;
           padding-right: 30px;

        }

        
    }

     
    .main7-sub2{
        display: grid;
        grid-template-columns: auto auto auto;
        /* justify-content: space-around; */
        margin-top: 50px;
        margin-left: 90px;
        margin-right: 70px;
        
        gap: 0px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        p{
            font-size: 19px;
            margin-top: 20px;
        }

        .imag{
            width: 455px;
            height: 326px;
            border-radius: 18px;
            
        }
    }


    #main8{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height: 300px;
        border: 3px solid red;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;

        label{
            font-size:x-large;
        }
        input{
            margin-left: 10px;
            height: 50px;
            width: 230px;
            border: 1px solid gray;
            border-radius: 10px;
           
         
        }

          input::placeholder{
                font-size:22px;
            }

       button{



         height: 52px;
         width: 97px;
         border: none;
         border-radius: 12px;
         background-color: #376b5c;
         color: white;
        font-size: 24px;
        cursor: pointer;


            
        }
    }



