
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Original+Surfer&family=Playwrite+CU+Guides&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

.heading{
        font-size: xx-large;
   font-weight: 900;
    font-family: "Playwrite CU Guides", cursive;
}


.sub-heading{
        font-size:x-large;
   font-weight: 699;
   font-style:italic;
    font-family: "Edu QLD Hand", cursive;
}

#discription span {

    font-weight: 400;
    color: rgb(227, 5, 5);
    text-decoration: underline;
          
}

main{
    margin-top: 10px;
}

section{
    padding: 20px;
}



.pointer-head{
    font-size: large;
    font-weight: 700;
    /* font-family: "shaw"; */
}

ul{
    margin-left: 30px;
    list-style: "🤷‍♂️";
}

#section2 {
    ol{
        margin-left: 30px;
        list-style: lower-greek;
    }
    li::first-letter{
        font-size: xx-large;
    }
     li:first-child{ 
        background-color: #8f4e4e; 
    }
    li:last-child{
        background-color: #47d683;
    }
}

#section3 {
    
    ol{
        margin-left: 30px;
        list-style: lower-roman;
        line-height: 50px;
    }

    ol li:nth-child(even){
          background-color: #85b26a;
    }

     ol li:nth-child(odd){
        background-color: wheat;
    }
}


#section4{
    table{
        border-collapse: collapse;
    }

    td ,th{
        border: 1px solid #000;
        padding: 3px 6px;

    }
    thead{
        background-color: blue;
        color: whitesmoke;
    }
    tbody tr:nth-child(even){

    background-color: #ca8ac3;

    }

     tbody tr:nth-child(odd){

    background-color: #7dc1d5;

    }
    caption{
        color: red;
        font-size: larger;
        font-weight: 600;
        font-variant-caps:all-petite-caps;
    }
    
}

footer{
    background-color: wheat;
    color: rgb(52, 15, 202);
    padding: 5px;
    text-align: center;
}

#loremp{
    line-height: 30px;
    word-spacing: 20px;
    letter-spacing: 5px;
    
}