.info{
    background:hotpink;
}

.Topheader{
    background-color:lightgrey;
}

.photo{
    border-radius: 80px;
}

.header{
    background:darkcyan;
}

.qi{
    background: blueviolet;
}

.name{
    background:rgb(170, 170, 193);
}
